@page "/Home"
@using DynamicFlow.Models.Generic
<link href="/css/app.css" rel="stylesheet" />

<button class="btn btn-primary" @onclick="OpenDialogBranch">Branch</button>

<DynamicFlowComponent FlowTitle="Assign Branch" FlowFor="Assign Branch" IsVisible="@BranchDialogVisible" IsVisibleSave="@IsSaveButtonVisible" IsVisibleChanged="OnDialogVisibilityChanged" PrepropertyList="properties"> </DynamicFlowComponent>



@code {

	public List<FlowParameter>? properties { get; set; }

	private bool ProfileDialogVisible = false;
	private bool IsSaveButtonVisible = true;

	protected override void OnInitialized()
	{
		properties = new List<FlowParameter>
		{
			new FlowParameter { Title = "UserId", Value = "DynamicFlow" },
			new FlowParameter { Title = "LanguageId", Value = "1" },
		};
	}

	private void OpenDialogProfile()
	{
		ProfileDialogVisible = true;
	}

	private void OnDialogVisibilityChanged(bool isVisible)
	{
		ProfileDialogVisible = isVisible;
		BranchDialogVisible = isVisible;
	}

	private bool BranchDialogVisible = false;

	private void OpenDialogBranch()
	{
		BranchDialogVisible = true;
	}
}