@page "/counter"
@using SME.DynamicFlow.UI

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<button class="btn btn-primary" @onclick="OpenDialogBranch">Branch</button>


<SME.DynamicFlow.UI.DynamicFlowComponent FlowId="10" Title="Override this title" Description="Override this description" PrepropertyList="properties" IsVisible="IsDynamicFlowVisibile" IsVisibleSave="IsSaveButtonVisible" LanguageId=@LanguageId></SME.DynamicFlow.UI.DynamicFlowComponent>


@code {

	public List<FlowParameter>? properties { get; set; }

	private bool IsSaveButtonVisible = true;
	protected override void OnInitialized()
	{
		properties = new List<FlowParameter>
		{
			new FlowParameter { Title = "UserId", Value = "DynamicFlow" },
			new FlowParameter { Title = "LanguageId", Value = "2" },
		};
	}
	private string LanguageId = "2";
	private bool IsDynamicFlowVisibile = false;

	private void OpenDialogBranch()
	{
		IsDynamicFlowVisibile = true;
	}
}